<section>
    <p>Only logged in users can see this page.</p>
    <p>Welcome {{firstName}}, the time is now: {{currentTime}}. </p>
    <h1><a href="/auth/protected">Click here to reach the protected page</a></h1>
    <h1><a href="/auth/logout">Click here to logout</a></h1>
</section>