<p>
    This application will assist users in exploring the bars of Hoboken! Rate bars by cleanliness, crowdedness, price, etc. and 
    see which bar is right for you using the crowdsourced insight from other users like you. Have fun!
</p>
<section>
     <a href="/searchbars">See more bars</a>
    <br>
    <a href="/auth/login">Login</a>
    <h2>Featured Bars</h2>
    <ol>
        {{#each featBars}}
        <li>
            <img class="homepage-bars-pictures" src="{{picture}}">
            <a href="/searchbars/{{_id}}">{{name}}</a>
            <address>Address: {{location}}</address>
        </li>
        {{/each}}
    </ol>
   
    
</section>